.Promo_Template
{
    z-index: 100;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(66, 66, 66, .9);
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
.promo_contenido
{
    width: 90vw;
    height: calc((90vw/16)*9);
    background: linear-gradient(14deg,#000000 0%, #afafaf 50%, #373737 100%);
    overflow: hidden;

}
.promo_imagen
{
    position: absolute;
    right: -40%;
    border: solid 1px black;
    border-radius: 50%;
    width: 80%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
/**/
.fa-square-xmark
{
    position: absolute;
    top: 1vw;
    left: 1vw;
    font-size: 4vw;
}
.promo_contenido h2
{
    position: absolute;
    top: 20%;
    left: 5%;
    color: #F4BC33;
    font-family: 'Raleway', sans-serif;
    font-size: 3vw;
}
.promo_contenido legend
{
    position: absolute;
    top: 30%;
    left: 5%;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-size: 3vw;
}
.promo_contenido p
{
    position: absolute;
    left: 5%;
    top: 40%;
    color: #fff;
    width: 50%;
    font-family: 'Raleway', sans-serif;
    font-size: 2vw;
    text-align: justify;
    font-weight: 600;
}
.promo_contenido button
{
    position: absolute;
    left: 5%;
    top: 80%;
    width: 30%;
    font-family: 'Raleway', sans-serif;
    font-size: 2vw;
    padding: 1vh 0;
    background-color: #000;
    color: #fff;
}
.fa-tag
{
    position: absolute;
    top: 50%;
    right: 5%;
    font-size: 25vw;
    color: rgb(171, 13, 13);
}
.promo_contenido h3 
{
    position: absolute;
    right:8%;
    top: 70%;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 3vw;
}