.servicio
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(66, 66, 66);
}
.path
{
    width: 100%;
    height: 10vh;
    clip-path: polygon(0% 0%, 0% 100%, 100% 50%, 100% 0%);
    background-color: #F4BC33;
}
.servicios_area
{
    width: 50%;
    height: 90vh;
}
.derechaBG
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/motor.svg");
    background-position: center;
    background-size: cover;
    opacity: .1;
}
.servicio_derecha
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.servicio_derecha ul
{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}
.servicio_derecha ul
{
    height: 90%;
}
.servicio_derecha li
{
    width: 50%;
    height: 6vh;
    color: #fff;
    font-size: 2vh;
    font-family: 'Raleway', sans-serif;
}
.servicio_derecha li i
{
    font-size: 1vh;
    color: #F4BC33;
}
.servicio_izquierda
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-size: 3vh;
}
.servicio_izquierda h4
{
    width: 80%;
    font-family: 'Raleway', sans-serif;
    color: #737372;
}
.izquierda_titulos
{
    width: 80%;
    font-family: 'Raleway', sans-serif;
}
.izquierda_titulos h3
{
    font-weight: 200;
}
.izquierda_titulos h2
{
    font-weight: 900;
    color: #F4BC33;
}
.servicio_izquierda button
{
    background-color: #F4BC33;
    border: solid 1px #000;
    font-family: 'Raleway', sans-serif;
    width: 40%;
    padding: 1vh 0;
    font-size: 2vh;
    color: #fff;
}